# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Directory for Next.js build files
/.next/

# Directory for serverless functions build by Next.js
/.serverless/

# Environment variables file used by Next.js
.env

# Dependency directories
/node_modules/
/.pnp/
.pnp.js

# Dependency directories
venv/
.env

# Compiled Python files
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pyinstaller
*.spec

# Ignore pip install requests
pip install requests

# Ignore pip python-multipart

pip install python-multipart

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
.Pipfile.lock

# Poetry
poetry.lock

# Pylons
*.egg-info/
.installed.cfg

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py



# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

/Users/jajan./Desktop/project\ candle/candle/env/lib/python3.12/site-packages/pip/_vendor/rich/__pycache__/

*.pyc

git add --ignore-errors *.py


