/* ทั่วไป */
.container {
  max-width: 90%; /* จำกัดขนาด container ไม่เกิน 100% ของหน้าจอ */
  padding: 0 20px; /* เพิ่ม padding รอบ container */
  margin: 0 auto; /* จัดวาง container ให้อยู่ตรงกลาง */
  box-sizing: border-box;
  height: 100vh;
}

/* เฮดเดอร์ */
.title {
  text-align: center; /* จัดกึ่งกลางข้อความในหัวข้อ */
}

.back {
  text-decoration: underline;
  color: #56B280;
  text-align: center;
  padding-bottom: 40px;
  cursor: pointer;
}

.back:hover {
  opacity: 0.8; /* ความโปร่งใสลดลงเมื่อ hover */
}

/* ตารางสินค้า */
.table {
  width: 95%; 
  margin: 0 auto;
  border-collapse: collapse;
}

.headTable {
  font-size: 22px;
  border-bottom: 1px solid lightgray;  
  
}

.headPrice, .headQuantity, .headTotal {
  padding-bottom: 20px;
}

.headProduct {
  text-align: left; /* จัดชิดซ้าย */
  padding-bottom: 20px;
  
  
}

.priceValue, .totalValue{
  text-align: center; /* จัดกึ่งกลาง */
  font-size: 22px;
}

/* รูปภาพสินค้า */
.productImage {
  margin-top: 50px;
  width: auto;
  height: 12rem; 
}

.productDetails {
  margin-top: 40px;
  display: inline-block; /* จัดให้อยู่ในบรรทัดเดียวกับรูป */
  vertical-align: top; /* จัดให้อยู่ที่ด้านบนของรูปภาพ */
  margin-left: 1rem; /* เพิ่มระยะห่างระหว่างรูปภาพกับรายละเอียด */
}

.removeProduct {
  text-decoration: underline;
  color: #56B280;
  cursor: pointer;
}

.removeProduct:hover {
  opacity: 0.8; /* ความโปร่งใสลดลงเมื่อ hover */
}

/* Container ของรายการสินค้า */
.productListContainer {
  max-width: 100%; /* กำหนดขนาด container เท่ากับความกว้างของหน้าจอ */
  margin: 0 auto; /* จัดวาง container ให้อยู่ตรงกลาง */
}

/* การแสดงผลตาราง */
.flex {
  display: flex;
  align-items: center;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* แบ่งเป็น 2 คอลัมน์ */
  padding: auto;
}

.checkoutButton {
  background-color: #56B280;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  margin: 20px;
  width: fit-content;
  height: 50px;
  
}

.checkoutButton:hover {
  opacity: 0.8; /* ลดความโปร่งใสเมื่อ hover */
}

/* ปรับปรุง summaryContainer */
.summaryContainer {
  width: 50%; /* ตั้งความกว้างครึ่งหนึ่งของหน้าจอ */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* จัดให้กล่องอยู่ที่ขวาของ parent container */
  margin-left: auto; /* เพิ่ม margin-left: auto เพื่อดันกล่องไปทางขวา */
}

/* ปรับปรุง summaryBox */
.summaryBox {
  display: flex;
  justify-content: space-between;
  width: 100%; /* ให้กล่องมีความกว้างเต็มความกว้างของ parent container */
}




.summaryLabel {
  font-size: 25px;
  color: gray;
  font-weight: 100;
  margin-right: 20px;
}

.summaryValue {
  font-size: 28px;
  color: black;
}



.quantity {
  display: flex; /* ใช้ flex layout */
  align-items: center; /* จัดตำแหน่งองค์ประกอบแนวตั้งอยู่ตรงกลาง */
  justify-content: center; /* จัดตำแหน่งองค์ประกอบแนวนอนอยู่ตรงกลาง */
}


.quantityButtonPlus {
  background-color: white; /* สีพื้นหลังของปุ่ม */
  border: 2px solid #56B280; /* เส้นขอบทั้งหมด 2px */
  border-left: none; /* ลบเส้นขอบฝั่งซ้ายออก */
  font-size: 20px; /* ขนาดของฟอนต์ */
  color: #56B280; /* สีของตัวอักษร */
  padding: 8px 10px; /* ช่องว่างรอบๆ ตัวอักษร */
  cursor: pointer; /* เปลี่ยน cursor เมื่อชี้เมาส์ไปที่ปุ่ม */
}


.quantityButtonMinus {
  background-color: white; /* สีพื้นหลังของปุ่ม */
  border: 2px solid #56B280; /* เส้นขอบทั้งหมด 2px */
  border-right: none; /* ลบเส้นขอบฝั่งซ้ายออก */
  font-size: 20px; /* ขนาดของฟอนต์ */
  color: gray; /* สีของตัวอักษร */
  padding: 8px 10px; /* ช่องว่างรอบๆ ตัวอักษร */
  cursor: pointer; /* เปลี่ยน cursor เมื่อชี้เมาส์ไปที่ปุ่ม */
}

.quantityValue {
  background-color: white; /* สีพื้นหลังของปุ่ม */
  border: 2px solid #56B280; /* เส้นขอบทั้งหมด 2px */
  border-right: none; 
  border-left: none;
  font-size: 20px; 
  color: black;
  padding: 4.5px 10px; 
  cursor: pointer; 

}
