.flexcontainer {
    flex-direction: column;
    display: flex;
    align-items: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
    padding: 50px 0;
    width: 100%;
    height: 100vh; /* ตั้งค่าความสูงเป็น 100% ของ viewport height */

    background-image: url('/login/bglogin.jpg');
    background-size: cover; /* ขยายรูปภาพให้เต็มพื้นที่ */
    background-position: center; /* จัดตำแหน่งรูปภาพตรงกลาง */
    background-repeat: no-repeat; 
   
  }

  .Contact {
    display: flex; /* ให้เป็น flex container */
    justify-content: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
    font-size: 48px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 10px;
    font-size: 200;
}

.sub {
    font-size: 24px;
    text-indent: -20px;
    line-height: 1.75;
    color: #616161;
    font-weight: 100;
}

  .box {
    width: 350px;
    height: 425px;
    background-color: #FFFFFF;
    border-radius: 3%;
    margin-left: 60px;
    margin-right: 60px;

    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .containerBox {
    display: flex; /* ให้เป็น flex container */
    justify-content: center; /* จัดให้ elements อยู่ตรงกลางแนวนอน */
    flex-direction: row; /* จัดเรียง elements ในแนวนอน */
    margin-top: 40px;
}


.image {
    width: 40px;
    height: 40px;
    margin-top: 80px;
    margin-bottom: 20px;

}
.title {
    font-weight: bolder;
    font-size: 22px;
}

.content {
    font-size: 20px;
    margin-top: -50px;
}

