@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background: white;
    color: black;

}

nav a {
    color:black;
    text-decoration: none;
    margin-left: 100px;
    font-size: 24px;
    padding: 10px;
}

nav{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    position:sticky;
    
}

nav a:hover{
    color: #127B43;
}

nav .logo{
    margin-right: auto;
    padding-left: 10px;
}

nav .cart {
    margin-left: auto;
    padding-right: 100px;
}



nav .middle {
    text-align: center;
}

footer{
    display: block;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    color: black;
    border-top: 1px solid gray;
    font-size: 20px;

}
a{
    text-decoration: none;
}

land_1{
    margin: 10px auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    height: 100vh;
}

h1 {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: -10px;
}

p {
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 70px;
}

.title {
    
    display: flex;
    justify-content: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
    align-items: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวตั้ง */
    flex-direction: column; 
    width: 800px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    text-align: center;
    margin-right: 600px;
    margin-left: 600px;
    
}


land_1 .button{
    display: inline-block;
    margin-top: 20px;
    padding: 13px 70px;
    background: #5BC08A;
    border-radius: 10px;
    font-size: 22px;
    color:white;
    text-align: center;
    transition: background-color 0.3s ease;
    
}
land_1 .button:hover {
    background-color: #127B43;
}


