
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 25%;
    border: 150px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    text-align: center;
}

.button{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 70px;
    background: #5BC08A;
    border-radius: 10px;
    color:white;
    text-align: center;
    transition: background-color 0.3s ease;
    
}
.button:hover {
    background-color: #127B43;
}